*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
}

.btns {
  display: flex;
}

.btns button {
  width: 33%;
  padding: 1rem;
  cursor: pointer;
}

.btns button.selected {
  background-color: #000;
  color: #fff;
}

ul li {
  margin-bottom: 1rem;
}
